body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/*--------------------------Font styling----------------------*/

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
  font-weight: 50;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation styling */

.navbar {
  padding-bottom: 4.5rem;
}


.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* images boy */
.boy {
  width: 60%;
}

/*--------------------------------Features-----------------------------------*/
#Features {
  padding: 7% 15%;
}

.Feature-box {
  text-align: center;
  padding: 5%;
}

/*---------------------------------- Symbols style ---------------------------*/
.icon {
  color: #ef8172;
  margin: 1rem;
  transition: 0.6s ease-in-out;
}

.icon:hover {
  color: #ff4c68;
}


/* ----------------------- testimonial section ----------------------------*/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

/*-------------------------------wonderla img styling ------------------------*/
.testimonial-img {
  width: 50%;
  border-radius: 10%;
  margin: 20px;
}
.testimonial-img1 {
  width: 50%;
  border-radius: 10%;
  margin: 20px;
}
/*------------------------------ press styling -------------------------------*/
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.img-size {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
